#wrapper{
    width: 60%;
    height: 60%;
    display: flex;
    animation: fadeIn 5s;
    background-color: #DDDDD1;
}

.education{
    width: 50%;
    text-align: center;
    padding: 5%;
}

h2{
    font-size: 30px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.details{
    font-style: italic;
}

@media (max-width: 780px){
    #wrapper{
        width: 100%;
    }
}